

<h1>Friends List</h1>

<!-- Add a class to the table -->
<table class= "table table-striped table-bordered">
  <thead class = "thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td colspan="4">
          <%= link_to "Show this friend", friend %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
